{% extends "base.html" %}

{% block content %}

{% load crispy_forms_tags %}  

<!-- User -->
<br><br>
<div class="container mx-auto">
    <div class="row">
        <div class="col-sm-12 col-md-6 pb-4">
            <div class="card p-4">
                <h4 class="card-title font-weight-bold text-center">Profile Information</h4>
                <hr>
                <div class="card-text">
                    <p class="text-muted mb-0" style="font-size: 12px">Username:</p>
                    <p>{{ user.username }}</p>
                    <p class="text-muted mb-0" style="font-size: 12px">Email:</p>
                    <p>{{ user.email }}</p>
                    {% if user.is_registered %}
                        <p class="text-muted mb-0" style="font-size: 12px">StartUp Name:</p>
                        <p>{{ user.startup_name }}</p>
                    {% endif %}
                    {% if user.is_validated %}
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <a href="{% url 'password_change' %}" class="btn btn-outline-info">Change Password</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <a href="{% url 'view_profile' %}" class="btn btn-dark">Show Profile</a>
                                {% if user.is_registered %}
                                    <a href="{% url 'update_profile' %}" class="btn btn-outline-primary">Edit Profile</a>
                                {% else %}
                                <a href="{% url 'reg_final' %}" class="btn btn-outline-primary">Register Startup</a>
                                {% endif %}
                            </div>
                        </div>
                    {% else %}
                        <p class="text-muted mb-0" style="font-size: 12px">Status:</p>
                        <p>Waiting for admin validation</p>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 pb-4">
            <div class="card p-4">
                <h4 class="card-title font-weight-bold text-center">Annual Payment</h4>
                <hr>
                <div class="card-text">
                    {% if user.is_accepted and not user.is_investor %}
                        <p class="text-muted mb-0" style="font-size: 12px">Payment Status:</p>
                        {% if user.is_paid %}
                            <p>Paid</p>
                            <p class="text-muted mb-0" style="font-size: 12px">Next Payment Date:</p>
                            <p>{{ user.next_payment_date }}</p>
                        {% else %}
                            <p>Due</p>
                            <p class="text-muted mb-0" style="font-size: 12px">Payment Due From:</p>
                            <p>{{ user.date_joined }}</p>
                            <p>Payment is due, please <a href="{% url 'payment_page' %}">pay now</a></p>
                        {% endif %}
                    {% else %}
                        {% if user.is_investor %}
                            <p class="text-muted mb-0" style="font-size: 12px">Not Required:</p>
                            <p>Keep supporting the startups.</p>
                        {% else %}
                            <p class="text-muted mb-0" style="font-size: 12px">Status:</p>
                            <p>Waiting for Startup Details to be reviewed [ After validation step ]</p>
                        {% endif %}
                    {% endif %}
                    <p id="vertical-space"></p>
                </div>
            </div>
        </div>
    </div>
        <div class="row">
            <div class="col-sm-12">
                {% if user.is_authenticated and user.is_investor %}
                    <div class="card p-4">
                        <h4 class="card-title font-weight-bold text-center">Blogs Posted</h4>
                        <hr>
                        <div class="card-text">
                            {% if user.post.exists %}
                                <ul>
                                    {% for post in user.post.all %}
                                        <li>Post id: {{ post.id }} -  &emsp; {{ post.date }}<br>{{ post.content }}</li>
                                        <br>
                                    {% endfor %}
                                </ul>
                            {% else %}
                                <p>No blogs posted yet.</p>
                            {% endif %}
                        </div>
                        <div class="text-center">
                            <a href="{% url 'create_blog' %}" class="btn btn-primary">Create New Blog as {{ user.username }}</a>
                        </div>
                    </div>
                {%else%}
                    <div class="card p-4">
                        <h4 class="card-title font-weight-bold text-center">Request Status</h4>
                        <hr>
                        <div class="card-text">
                            {% if user.is_accepted %}
                                {% if user.requests.exists %}
                                    <ul>
                                        {% for request in user.requests.all %}
                                            <li>Request Id: {{ request.request_number }} - &emsp; Status: {{ request.status }} <br> Feedback: {{ request.feedback}} <br>Request Content: {{ request.request_text }}</li>
                                            <br>
                                        {% endfor %}
                                    </ul>
                                {% else %}
                                    <p>No requests found.</p>
                                {% endif %}
                            {% else %}
                                <p class="text-muted mb-0" style="font-size: 12px">Status:</p>
                                <p>Waiting for Details to be reviewed [ After validation step ]</p>
                            {% endif %}
                        </div>
                        {% if user.is_accepted %}
                            <div class="text-center">
                                <a href="{% url 'submit_request' %}" class="btn btn-primary">Submit New Request</a>
                            </div>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        </div>
</div>
<br><br><br>

{% endblock %}
